* {
  font-family: "Caskaydia Cove Nerd Font", sans-serif;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  padding: 0 10px;
  transition: background 0.3s ease;
}


center{
  margin-right: 10px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid #9340A6;
  color: #B0FEFE;
}

window#waybar.hidden{
  opacity: 0.75;
}

#workspaces button {
  background: transparent;
  color: #B0FEFE;
  margin: 2px 1px;
  padding: 0 0;
}

#workspaces button.active {
  background-color: #B0FEFE;
  color: #9340A6;
  margin-bottom: 5px;
  padding: 0 0;
}

#workspaces button.empty{
  color: #9340A6;
  padding: 0 0;
}

#workspace button.empty.active{
 background-color: #530D0B;
 color: #323d49;
 padding: 0 0;
}

#clock,
#memory,
#network,
#pulseaudio,
#tray,
#custom-mediaplayer.paused,
#disk,
#custom-launcher {
  background-color: #9340A6;
  color: #B0FEFE;
  border-radius: 6px;
  margin: 3px 3px;
  margin-bottom: 10px;
  padding: 5px 12px;
}

#custom-mediaplayer.playing{
  background-color: #B0FEFE;
  color: #9340A6;
  border-radius: 6px;
  margin: 3px 10px;
  margin-bottom: 10px;
  padding: 5px 12px;
}

#pulseaudio.muted {
  color: #ff1c1c;
}

#custom-launcher {
  background: linear-gradient(135deg, #8000ff, #00f0ff);
  color: white;
  font-weight: bold;
}

